body {
  color: #E1E1E6;
}

main {
  margin-top: 4rem;
  margin-left: 6.4rem;
  width: 40.5rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1.25;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
}
